.select2-selection {
    display: inline-block !important;
    vertical-align: middle !important;
    width: 100% !important;
    background-color: var(--tb-input-bg) !important;
    padding: 0.25rem 3.6rem 0.1rem 0.5rem !important;
    border: 1px solid var(--tb-input-border) !important;
    border-radius: 0.25rem !important;
    font-size: .9063rem !important;
    min-height: 42.5px !important;
    overflow: hidden !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 2px 5px 5px 5px !important;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after {
    content: "\f0140";
    position: absolute;
    border: 0;
    border-color: #06283d transparent transparent;
    right: 11.5px;
    left: auto;
    font-family: "Material Design Icons";
    width: auto;
    height: auto;
    top: 80%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:after {
    transform: rotate(3.142rad) !important;
    top: 35% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.select2-dropdown.select2-dropdown--below {
    z-index: 1 !important;
    position: absolute !important;
    background-color: #fff !important;
    border: 1px solid #eaeef4 !important;
    box-shadow: 0 5px 10px rgb(30 32 37 / 12%) !important;
    top: 100% !important;
    margin-top: 0 !important;
    border-bottom-left-radius: 2.5px !important;
    border-bottom-right-radius: 2.5px !important;
    overflow: hidden !important;
    word-break: break-all !important;
    will-change: visibility !important;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.select2-search--dropdown {
    padding: 0 !important;
    margin: 0 !important;
}

.select2-results {
    position: relative !important;
    max-height: 300px !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    will-change: scroll-position !important;
    margin-bottom: 5px !important;
}

.select2-results__options {
    position: relative !important;
    max-height: 300px !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    will-change: scroll-position !important;
}

.select2-search__field {
    padding: 0.6rem 0.9rem !important;
    background-color: #fff !important;
    border: 1px solid #eaeef4 !important;
    font-size: .9063rem !important;
    border-radius: 0.25rem !important;
    color: #06283D !important;
    margin-bottom: 10px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    margin: 8px !important;
    width: 95% !important;
}

.select2-search__field:focus {
    outline: none !important;
}

.select2-results__option.select2-results__option--selectable {
    position: relative !important;
    font-size: .9063rem !important;
    padding: 0.35rem 1.2rem 0.35rem 16px !important;
}

.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
    background-color: #f3f6f9 !important;
    color: #000 !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #fff !important;
}
